body{
    background: url("../image/bg.jpg");

}
/*头部开始*/
.index{
    width: 100%;
}
.header{
    width:100%;
    display: -webkit-box;
    color:white;
    position: fixed;
    z-index: 999;
}
.header-left{
    width:20%;
    font-size:14px;
    background: rgb(242,190,71);
    text-align: center;
    padding:20px 0;
}
.header-left .logo1{
    vertical-align: middle;
    width:11px;
    height: 7px;
    display:inline-block;
    background:url("../image/index_logo.png") no-repeat 0 -16px;
}
.header-center{
    -webkit-box-flex:1;
    font-size:16px;
    background: rgb(1,126,92);
    text-align: center;
    padding:20px 0;
}
.header-right{
    width:15%;
    text-align: center;
    padding:20px 0;
    background: rgb(1,126,92);
}
.header-right .logo2{
    vertical-align: middle;
    width:16px;
    height: 18px;
    display: inline-block;
    background:url("../image/index_logo.png") no-repeat 0 2px;
}
/*头部结束*/

/*背景图片开始*/
.bg{
    background: url("../image/index.png") no-repeat;
    background-size: 100%;
    width:100%;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    position: relative;
    top:59px;

}
.bg0{
    width:50%;
    margin: 34% auto 2%;
}
.bg3{
    display: inline-block;
    width:15%;
    height:3px;
}
.bg1{
    background: white;
}
.bg2{
    background: rgb(1,126,92) ;
}
.bg-next{
    background: rgb(238,238,238);
    position: relative;
    top:59px;
    box-sizing: border-box;
    padding:5px 0 5px 10px;
    font-size:12px;
}
.bg-next .logo3{
    width: 12px;
    height: 11px;
    display: inline-block;
    background: url("../image/index_logo.png") no-repeat 0 -25px;
}

.logo{
    width: 44px;
    height: 44px;
    display: inline-block;
}
.logo+p{
    margin-top:5px;
}
/*背景图片结束*/

/*菜单开始*/
.menu{
    position: relative;
    top:59px;
    display: -webkit-box;
    text-align: center;
    box-sizing: border-box;
    padding:4.25%;
    font-size: 12px;
}
.small-menu{
    -webkit-box-flex:1;
    display: block;
}
.small-menu .logo4{
    background: url("../image/index_logo.png") no-repeat -17px 0;
}
.small-menu .logo5{
    background: url("../image/index_logo.png") no-repeat -17px -44px;
}.small-menu .logo6{
     background: url("../image/index_logo.png") no-repeat -61px 0;
 }.small-menu .logo7{
      background: url("../image/index_logo.png") no-repeat -61px -44px;
  }

.menu a:first-child p{
    color:#017e5c;

}
/*菜单结束*/
/*推荐餐厅开始*/
.advise{
    width:100%;
    position: relative;
    top:59px;
}
.advise>p{
    background:rgb(238,238,238);
    color:#017e5c;
    padding-left: 5px;
}
.ad1{
    box-sizing: border-box;
    padding:5px;
    width: 100%;
}
.ad1-top{
    background: white;
    box-sizing: border-box;
    padding:10px;
    margin:10px;
    margin-bottom: 0;
    border:1px solid gainsboro;
}
.ad1-top img{
    width:23%;
    /*vertical-align: middle;*/
    margin-right: 1%;
}
.ad1-top .ad1-center{
    width:70%;
    display: inline-block;
}
.logo8{
    background: red;
    width:12px;
    height: 12px;
    display: inline-block;
}
.logo8 i{
    width:12px;
    height: 12px;
    display: inline-block;
    background: url("../image/index_logo.png") no-repeat -1px -39px;
}
.ding{
    float:right;
    background:#017e5c;
    color:white;
    padding:0 2px;
}
.ding:after{
    content:"";
    display: inline-block;
    clear: both;
}
.ad1-bottom{
    box-sizing: border-box;
    padding:10px;
    margin:10px;
    margin-top:0;
    border:1px solid gainsboro;
    border-top:none;
    background:rgb(238,238,238);
    color:#a6a6a6;
}
.bottom1{
    margin-bottom:70px;
}
/*推荐餐厅结束*/

/*尾部开始*/
.footer{
    width:100%;
    display: -webkit-box;
    position: fixed;
    z-index: 999;
    bottom:0;
    text-align: center;

}
.foot1{
    display: block;
    -webkit-box-flex:1;
    padding:15px 0;
    background: white;
}
/*.footer>a:first-child{*/
    /*display: block;*/
    /*background:#017e5c;*/
    /*color:white;*/
/*}*/
.img{
    display: inline-block;
    background:url(../image/img.png) no-repeat ;
}
.search_logo7{height:16px;width:13px;background-position:0 -15px;}
.search_logo8{height:16px;width:14px;background-position:0 -88px;}
.search_logo6{height:16px;width:15px;background-position:0 -104px;}
.search_logo9{height:16px;width:17px;background-position:0 -151px;}
/*尾部结束*/


/*更多开始*/

.many-bottom{
    position: relative;
    top:59px;
    text-align: center;
    padding:50px 0 60px;
}
.many-bottom p{
    margin-top:10px;
    font-size: 16px;
    color: #a6a6a6;
}


.geren{
    height:21px;
    width:21px;
    position:absolute;
    right:4%
}
.person1{
    background-position-y:-72px ;
}
.person{
    background: #017e5c;
    color:white;
}
.first1{
    background-position-y:-167px ;
}
.first{
    background: white;
    color: black;
}