
.baocun{
    position: absolute;
    top:20px;
    right:10px;
}
.baocun a{
    color: white;
}
.touxiang{
    background: white;
    position: relative;
    top: 72px;
    padding: 12px;
    font-size: 18px;
    margin: 10px;
}
.touxiang p:last-child img{
    width: 40px;
    vertical-align: middle;
    margin-right:5px;
}
.touxiang p:last-child{

    position: absolute;
    top:12px ;
    right:12px;

}
.infor{
    position: relative;
    top: 72px;
    background: white;
    padding:0  12px;
    font-size: 18px;
    margin: 10px;
    border:1px solid #ccc;
}
.infor div{
    border-bottom:1px solid #ccc;
    padding:12px 0;
}
.infor div:last-child{
    border-bottom:none;
}
.tuichu{
    position: relative;
    top: 132px;
    text-align: center;
}
.tuichu button{
    width: 70%;
    background:rgb(242,189,71);

    font-size:18px;
    padding:10px;
}
.tuichu button a{
    color:white;
}