.phone{
    width:40px;
    height: 37px;
    display: inline-block;
    background: url("../image/img2.png") no-repeat 0 -67px;
    vertical-align: middle;
}
.pencil{
    width: 40px;
    height: 34px;
    display: inline-block;
    background: url("../image/img2.png") no-repeat 0 -34px;
    vertical-align: middle;
}
.where{
    width: 42px;
    height: 37px;
    display: inline-block;
    background: url("../image/img2.png") no-repeat 0 3px;
    vertical-align: middle;
}